{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<h1 class="text-center">About</h1>
<hr>

<div style="padding: 25px;">
    <h3 style="color:cadetblue;">Hospital Profile</h3><br>

    <p>VPS Lakeshore, one of the largest, most comprehensive, independent multi-specialty hospitals in Kerala is
        recognized as a leader in medical education, groundbreaking research, and innovative, patient-centered clinical
        care. The hospital has become the hospital of choice to patients' worldwide.</p>
    <p>The advanced hi-tech healthcare facility ushers in world class standards in healthcare and offers diverse medical
        specialties, including Multi Organ Transplantation, Gastroenterology, G.I Surgery, Medical, Surgical Oncology,
        Joint Replacement, Accident & Trauma Orthopedics, Sports Medicine, Neurology, Neurosurgery Surgery, Cardiology,
        Cardiovascular Surgery, Gynecology & more...</p>
    <p>
        VPS Lakeshore was incorporated as a public limited company in 1996 and in January 2003 the hospital officially
        opened its doors to integrated healthcare. Over the years, the hospital has emerged as a centre of international
        healthcare excellence for patients in India & abroad through a broad range of advanced clinical programs and the
        most cutting-edge treatments and diagnostic services.
    </p>
    <p>Right from the moment you walk into VPS Lakeshore, you will be assisted by a team of Public Relation Assistants
        who will provide a broad spectrum of services for you and your family members, to ensure a pleasant and
        comfortable experience from pre-arrival to follow up care. Your admission to the Hospital may be a planned one
        or might be unexpected. Either way, you will be assigned to an excellent team of health care consultants. Once
        admitted, our nursing team will review some basic information with you and your family explaining visiting hours
        and policies, as well as orient you to your immediate surroundings, hospital routines and services. The health
        care team will also inform you and family about the medical treatment. Please provide the team with accurate and
        complete information so that your care will best meet your needs. Our staff is always available to answer your
        questions or concerns.</p>
</div>

{% endblock %}