{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block content %}
<h1 class="text-center">Contact</h1>
<hr>

<div class="container-fluid ">
    <div class="row">
        <h2 class="p-4" style="color:cadetblue;">Location</h1>
        <div class="col-6">
            <h1 class="text-white ps-3">Blissful Bites</h1>
            <h4 class="ps-4">Trivandrum</h4>
            <h4 class="ps-4">Kerala</h4>
            <h6 class="ps-4">Tel: +91-453-2701032<h6>
                    <h6 class="ps-4">Email: medflow@email.com</h6>
                    <h6 class="ps-4">Website: www.medflow.com</h6>
        </div>
        <div class="col-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15781.574052483296!2d76.8727970123291!3d8.558105655115618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05befbad688f91%3A0x58e8fb83cf5ddf6a!2sTechnopark%20Trivandrum!5e0!3m2!1sen!2sin!4v1711361125520!5m2!1sen!2sin"
                width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

{% endblock %}